.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px;
  background-color: #495E57;
  gap: 36px;
  flex-wrap: wrap;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.title {
  font-size: 64px;
  color: #F4CE14;
  margin: 0;
}

.subtitle {
  font-size: 40px;
  color: #EDEFEE;
  margin: 0;
}

.text {
  font-size: 18px;
  color: #EDEFEE;
}

.button {
  width: 200px;
  height: 60px;
  background-color: #F4CE14;
  border: none;
  border-radius: 16px;
  font-size: 18px;
  color: #333333;
  cursor: pointer;
}

.image {
  width: 375px;
  height: 325px;
  object-fit: cover;
  border-radius: 16px;
}

.specials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 36px;
  background-color: #FFF;
  gap: 64px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 36px;
  flex-wrap: wrap;
}

.sectionTitle {
  font-size: 64px;
  color: #333333;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding-left: 36px;
  padding-right: 36px;
  flex-wrap: wrap;
}
